<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            <span class="text-primary">Flávio</span>
            B. Pinto
        </h1>
        <div class="subheading mb-5">
            Uberlândia, MG · Brasil · (61)9.8446-4602 ·
            <a href="mailto:flaviobboss@gmail.com">flaviobboss@gmail.com</a>
        </div>
        <p class="mb-5">23 anos. Sou dinâmico, comprometido e apaixonado pelo conhecimento. Trabalho com o desenvolvimento de software desde 2015, quando participei no treinamento para a etapa brasileira da World Skills(Olímpiada do Conhecimento) 2017, como parte da equipe do Distrito Federal na modalidade de Soluções de Software. Desde então nunca parei.</p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/flavio.pinto.3705" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/flaviotbboss" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/flavio-borges" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/Fl4v10" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>